body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(142, 142, 142);
}

.ctn {
  margin-top: 1rem;
  border: 1px solid black;
  border-radius: 5px;
  background-color: black;
}

#display {
  height: 2rem;
  background-color: rgb(53, 51, 51);
  color: whitesmoke;
  text-align: right;
  font-weight: 700;
  border: none;
}

#btn-ctn {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding: 0.5rem 0.3rem 0.1rem 0.3rem;
  margin-top: .2rem;
}

#btn-ctn button {
  background-color: rgb(121, 115, 115);
  color: azure;
  height: 2rem;
  width: 2rem;
  border-radius: 1rem;
  border: none;
}

#btn-ctn button:hover {
  cursor: pointer;
  background-color: rgba(121, 115, 115);
  opacity: 80%;
}

#btn-ctn button:active {
  background-color: rgba(121, 115, 115);
  opacity: 60%;

}
